@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans.woff) format("woff"), url(../fonts/OpenSans.svg#OpenSans) format("svg"), url(../fonts/OpenSans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.eot), url(../fonts/OpenSans-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Light.woff) format("woff"), url(../fonts/OpenSans-Light.woff2) format("woff2"), url(../fonts/OpenSans-Light.svg#OpenSans-Light) format("svg"), url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(../fonts/OpenSans-Semibold.eot), url(../fonts/OpenSans-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Semibold.woff) format("woff"), url(../fonts/OpenSans-Semibold.woff2) format("woff2"), url(../fonts/OpenSans-Semibold.svg#OpenSans-Semibold) format("svg"), url(../fonts/OpenSans-Semibold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.eot), url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.eot), url(../fonts/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Roboto-Medium.woff) format("woff"), url(../fonts/Roboto-Medium.woff2) format("woff2"), url(../fonts/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Italic;
  src: url(../fonts/Roboto-Italic.eot), url(../fonts/Roboto-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/Roboto-Italic.woff) format("woff"), url(../fonts/Roboto-Italic.woff2) format("woff2"), url(../fonts/Roboto-Italic.svg#Roboto-Italic) format("svg"), url(../fonts/Roboto-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.logo {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -402px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 28px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.logo {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -355px;
    height: 36px;
    width: 28px;
  }
}
.icon.flag-ru {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -271px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-ru {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -239px;
    height: 17px;
    width: 16px;
  }
}
.icon.flag-ar {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -71px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-ar {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -61px;
    height: 17px;
    width: 16px;
  }
}
.icon.flag-ma {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -205px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-ma {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -180px;
    height: 17px;
    width: 16px;
  }
}
.icon.flag-ch {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -93px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-ch {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -81px;
    height: 18px;
    width: 16px;
  }
}
.icon.flag-po {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -249px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-po {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -219px;
    height: 17px;
    width: 16px;
  }
}
.icon.flag-gb {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -139px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-gb {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -122px;
    height: 16px;
    width: 16px;
  }
}
.icon.flag-pg {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -227px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-pg {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -200px;
    height: 17px;
    width: 16px;
  }
}
.icon.flag-fr {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -116px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-fr {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -101px;
    height: 18px;
    width: 16px;
  }
}
.icon.flag-sp {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -314px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-sp {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -277px;
    height: 17px;
    width: 16px;
  }
}
.icon.flag-hv {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -160px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-hv {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -140px;
    height: 17px;
    width: 16px;
  }
}
.icon.flag-tl {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -336px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-tl {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -296px;
    height: 17px;
    width: 16px;
  }
}
.icon.flag-in {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -182px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-in {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -160px;
    height: 18px;
    width: 18px;
  }
}
.icon.flag-vn {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -358px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-vn {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -316px;
    height: 16px;
    width: 16px;
  }
}
.icon.flag-sb {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -293px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.flag-sb {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -258px;
    height: 16px;
    width: 16px;
  }
}
.icon.shape {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -625px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.shape {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -555px;
    height: 27px;
    width: 30px;
  }
}
.icon.check {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -46px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 23px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.check {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -39px;
    height: 20px;
    width: 23px;
  }
}
.icon.person {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -548px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.person {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -486px;
    height: 26px;
    width: 26px;
  }
}
.icon.i {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -379px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.i {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -334px;
    height: 18px;
    width: 18px;
  }
}
.icon.portfolio {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -579px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.portfolio {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -514px;
    height: 18px;
    width: 18px;
  }
}
.icon.money {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -483px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.money {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -428px;
    height: 18px;
    width: 21px;
  }
}
.icon.partnership {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -525px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.partnership {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -465px;
    height: 18px;
    width: 21px;
  }
}
.icon.megaphone {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -460px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.megaphone {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -408px;
    height: 18px;
    width: 24px;
  }
}
.icon.question {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -602px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.question {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -535px;
    height: 18px;
    width: 18px;
  }
}
.icon.arrow-down {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.arrow-down {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 0;
    height: 7px;
    width: 13px;
  }
}
.icon.tel {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -657px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.tel {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -585px;
    height: 14px;
    width: 14px;
  }
}
.icon.monitor {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -506px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.monitor {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -449px;
    height: 14px;
    width: 17px;
  }
}
.icon.mark {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -443px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 9px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.mark {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -393px;
    height: 12px;
    width: 9px;
  }
}
.icon.bull-painted {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -12px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.bull-painted {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -10px;
    height: 12px;
    width: 10px;
  }
}
.icon.bull-unpainted {
  background-image: url('../images/icons-sd3a2bfcbba.png');
  background-position: 0 -29px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon.bull-unpainted {
    background-image: url('../images/icons-2x-sc89d64ed13.png');
    background-size: 30px auto;
    background-position: 0 -24px;
    height: 12px;
    width: 10px;
  }
}
.icon_mr-5 {
  margin-right: 5px;
}

.container {
  max-width: 768px;
  padding: 0 12px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 0 14px;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Semibold;
  line-height: 38px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn_white-blue {
  background-color: #fff;
  border-color: #c8c8c8;
  color: #168de2;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.btn_white-blue:hover:hover, .btn_white-blue:hover:focus, .btn_white-blue:hover:active, .btn_white-blue:focus:hover, .btn_white-blue:focus:focus, .btn_white-blue:focus:active, .btn_white-blue:active:hover, .btn_white-blue:active:focus, .btn_white-blue:active:active, .btn_white-blue:visited:hover, .btn_white-blue:visited:focus, .btn_white-blue:visited:active {
  background-color: #2d90fc;
  border-color: #2d90fc;
  color: #fff;
}
.btn_white-orange {
  background-color: #fff;
  border-color: #fe7d1b;
  color: #fe7d1b;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.btn_white-orange:hover:hover, .btn_white-orange:hover:focus, .btn_white-orange:hover:active, .btn_white-orange:focus:hover, .btn_white-orange:focus:focus, .btn_white-orange:focus:active, .btn_white-orange:active:hover, .btn_white-orange:active:focus, .btn_white-orange:active:active, .btn_white-orange:visited:hover, .btn_white-orange:visited:focus, .btn_white-orange:visited:active {
  background-color: #fe7d1b;
  border-color: #fe7d1b;
  color: #fff;
}
.btn_blue {
  background-color: #2d90fc;
  border-color: #2d90fc;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn_blue:hover:hover, .btn_blue:hover:focus, .btn_blue:hover:active, .btn_blue:focus:hover, .btn_blue:focus:focus, .btn_blue:focus:active, .btn_blue:active:hover, .btn_blue:active:focus, .btn_blue:active:active, .btn_blue:visited:hover, .btn_blue:visited:focus, .btn_blue:visited:active {
  background-color: #fff;
  border-color: #2d90fc;
  color: #2d90fc;
}
.btn_orange {
  background-color: #fe7d1b;
  border-color: #fe7d1b;
  color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.btn_orange:hover:hover, .btn_orange:hover:focus, .btn_orange:hover:active, .btn_orange:focus:hover, .btn_orange:focus:focus, .btn_orange:focus:active, .btn_orange:active:hover, .btn_orange:active:focus, .btn_orange:active:active, .btn_orange:visited:hover, .btn_orange:visited:focus, .btn_orange:visited:active {
  background-color: #fff;
  border-color: #fe7d1b;
  color: #fe7d1b;
}
.btn_black-orange {
  border-color: #1b2532;
  background-color: #1b2532;
  color: #168de2;
}
.btn_black-orange:hover:hover, .btn_black-orange:hover:focus, .btn_black-orange:hover:active, .btn_black-orange:focus:hover, .btn_black-orange:focus:focus, .btn_black-orange:focus:active, .btn_black-orange:active:hover, .btn_black-orange:active:focus, .btn_black-orange:active:active, .btn_black-orange:visited:hover, .btn_black-orange:visited:focus, .btn_black-orange:visited:active {
  background-color: #fe7d1b;
  border-color: #fe7d1b;
  color: #fff;
}
.btn_small {
  line-height: 24px;
  font-size: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn_short {
  width: 190px;
}
.btn_brt-0-blue {
  position: relative;
  bottom: -1px;
}
.btn_brt-0-blue:before {
  content: "";
  width: calc(100%);
  height: 10px;
  display: block;
  background-color: #2d90fc;
  border-style: solid;
  border-color: #2d90fc;
  border-width: 1px 1px 0 1px;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn_brt-0-blue:hover:hover:before, .btn_brt-0-blue:hover:focus:before, .btn_brt-0-blue:hover:active:before, .btn_brt-0-blue:focus:hover:before, .btn_brt-0-blue:focus:focus:before, .btn_brt-0-blue:focus:active:before, .btn_brt-0-blue:active:hover:before, .btn_brt-0-blue:active:focus:before, .btn_brt-0-blue:active:active:before, .btn_brt-0-blue:visited:hover:before, .btn_brt-0-blue:visited:focus:before, .btn_brt-0-blue:visited:active:before {
  background: #fff;
}

.radio-box {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.radio-box__switch {
  position: absolute;
  top: 50%;
  left: 0;
  outline: none;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.radio-box__switch:checked + .radio-box__switch-imitator {
  border-color: #168de2;
}
.radio-box__switch:checked + .radio-box__switch-imitator:before {
  width: 9px;
  height: 9px;
  opacity: 1;
}

.radio-box__switch-imitator {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #b8b8b8;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.radio-box__switch-imitator:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #168de2;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.entry-field {
  width: 100%;
  padding: 0 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border: 2px solid transparent;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 38px;
  height: 38px;
  color: #1a1a1a;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.entry-field::-webkit-input-placeholder {
  color: #808080;
}
.entry-field::-moz-placeholder {
  color: #808080;
}
.entry-field:-ms-input-placeholder {
  color: #808080;
}
.entry-field::-webkit-input-placeholder {
  color: #808080;
}
.entry-field::-moz-placeholder {
  color: #808080;
}
.entry-field:-ms-input-placeholder {
  color: #808080;
}
.entry-field:focus {
  border: solid 2px #2192fd;
}

.select {
  width: 100%;
  padding: 0 20px 0 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border: 2px solid transparent;
  font-family: OpenSans;
  font-size: 14px;
  height: 38px;
  color: #1a1a1a;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.select::-webkit-input-placeholder {
  color: #808080;
}
.select::-moz-placeholder {
  color: #808080;
}
.select:-ms-input-placeholder {
  color: #808080;
}
.select::-webkit-input-placeholder {
  color: #808080;
}
.select::-moz-placeholder {
  color: #808080;
}
.select:-ms-input-placeholder {
  color: #808080;
}
.select:focus {
  border: 2px solid #2192fd;
}

.label {
  display: inline-block;
  margin: 0 0 5px 3px;
  font-family: OpenSans-Semibold;
  font-size: 14px;
  color: #1a1a1a;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-family: OpenSans;
  font-size: 14px;
  color: #168de2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.link:hover:hover, .link:hover:focus, .link:hover:active, .link:focus:hover, .link:focus:focus, .link:focus:active, .link:active:hover, .link:active:focus, .link:active:active, .link:visited:hover, .link:visited:focus, .link:visited:active {
  color: #fe7d1b;
}

.badge {
  display: inline-block;
}
.badge_blue {
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #168de2;
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 12px;
  line-height: 1.17em;
  color: #fff;
}
.badge_beige {
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.counter-signature {
  width: 170px;
  margin: 0 auto;
}
.counter-signature__list {
  font-size: 0;
}
.counter-signature__item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  position: relative;
  text-align: center;
  font-size: 0;
}
.counter-signature__item:last-child:after {
  display: none;
}
.counter-signature__item:after {
  content: ":";
  display: block;
  position: absolute;
  top: 0;
  right: -2px;
  font-family: OpenSans-Semibold;
  font-size: 18px;
}
.counter-signature__numeral {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  font-family: OpenSans-Semibold;
  font-size: 18px;
}
.counter-signature__numeral_c-ls {
  color: #e51c23;
}
.counter-signature__text {
  font-family: Roboto-Regular;
  font-size: 11px;
  color: #808080;
}

.captcha {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.captcha__img {
  width: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}

.popup {
  opacity: 0;
  visibility: hidden;
  padding: 30px 0;
  width: 100%;
  height: 100%;
  background-color: #28313e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.popup.active {
  visibility: visible;
  opacity: 1;
}

.popup__btn-close {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}

.popup__btn-line {
  display: inline-block;
  width: 50%;
  height: 2px;
  background: #fff;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.popup__btn-line:last-child {
  height: 50%;
  width: 2px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.tt-u {
  text-transform: uppercase;
}

.ff-os {
  font-family: OpenSans;
}

.ff-os-l {
  font-family: OpenSans-Light;
}

.ff-os-s {
  font-family: OpenSans-Semibold;
}

.ff-r-r {
  font-family: Roboto-Regular;
}

.ff-r-m {
  font-family: Roboto-Medium;
}

.ff-r-i {
  font-family: Roboto-Italic;
}

.fs-0 {
  font-size: 0;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.lh-1-57em {
  line-height: 1.57em;
}

.lh-1-31em {
  line-height: 1.31em;
}

.c-darkest {
  color: #1a1a1a;
}

.c-warm-gray {
  color: #808080;
}

.c-gr-brown {
  color: #4d4d4d;
}

.c-red {
  color: #ea433f;
}

.c-white {
  color: #fff;
}

.h2 {
  font-family: OpenSans-Semibold;
  font-size: 16px;
  line-height: 1.38em;
}

.h3 {
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.38em;
  color: #fff;
}

.triangle-up {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 8px solid #808080;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.triangle-down {
  display: inline-block;
  vertical-align: middle;
  border-top: 8px solid #808080;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

body {
  font-family: OpenSans;
  font-size: 12px;
}

html.modal-open {
  overflow: hidden;
}
html.modal-open .wrap__overlay {
  visibility: visible;
  opacity: 1;
}

.owl-stage {
  display: flex;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: calc(100vh - 65px);
  padding-top: 65px;
  position: relative;
  overflow: hidden;
}
.wrap__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 90;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.wrap__substrate-tp {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}
.wrap__substrate-tp.active {
  display: block;
}

.header {
  width: 100%;
  padding: 16px 0 12px 0;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header:after {
  content: "";
  display: block;
  width: calc(100% - 1px);
  height: 1px;
  background: #ededed;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header_shadow:after {
  opacity: 1;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header__item {
  display: flex;
  width: auto;
  position: relative;
  align-items: center;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.burger__btn {
  display: inline-block;
  width: 28px;
  height: 22px;
  padding: 0;
  margin-bottom: 3px;
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
}
.burger__btn.active .burger__line:first-child {
  left: 0;
  top: 9px;
  opacity: 0;
}
.burger__btn.active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger__btn.active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger__btn.active .burger__line:last-child {
  left: 0;
  top: 9px;
  opacity: 0;
}
.burger__line {
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #168de2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger__line:first-child {
  left: 0;
  top: 0;
}
.burger__line:nth-child(2) {
  left: 0;
  top: 9px;
}
.burger__line:nth-child(3) {
  left: 0;
  top: 9px;
}
.burger__line:last-child {
  left: 0;
  top: 18px;
}

.arrow-back {
  display: inline-block;
  width: 14px;
  height: 22px;
  margin-right: 10px;
}
.arrow-back__line {
  background-color: #168de2;
  display: block;
  width: 15px;
  height: 3px;
  margin-top: 3px;
  margin-bottom: 6px;
}
.arrow-back__line:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.arrow-back__line:last-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.logo__link {
  position: relative;
}
.logo__line {
  display: block;
  width: 16px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  left: 50%;
}
.logo__line_horiz {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.logo__line_vert {
  -webkit-transform: translateX(-50%) rotate(90deg);
  -moz-transform: translateX(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) rotate(90deg);
  -o-transform: translateX(-50%) rotate(90deg);
  transform: translateX(-50%) rotate(90deg);
}

.lang__toggle {
  display: flex;
  width: 50px;
  height: 26px;
  background-color: #f7f7f7;
  border-radius: 3px;
  position: relative;
  z-index: 110;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.lang__toggle.active {
  background-color: transparent;
}
.lang__text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  text-transform: uppercase;
  font-family: OpenSans;
  color: #808080;
}
.lang__dropdown {
  position: absolute;
}

.lang-dropdown {
  width: 234px;
  padding: 5px 10px;
  background-color: #fff;
  border: solid 1px #ededed;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  top: calc(100% + 3px);
  right: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lang-dropdown:before {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background-color: #fff;
  border: solid 1px #ededed;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -38px;
  right: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lang-dropdown:after {
  content: "";
  display: block;
  width: 51px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lang-dropdown.open {
  visibility: visible;
  opacity: 1;
}
.lang-dropdown__list {
  font-size: 0;
}
.lang-dropdown__item {
  display: inline-block;
  margin: 7px 0;
  width: 55%;
  padding-right: 10px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lang-dropdown__item:nth-child(2n) {
  width: 45%;
  padding-right: 0;
}
.lang-dropdown__link {
  text-decoration: none;
}
.lang-dropdown__text {
  display: inline-block;
  vertical-align: middle;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.43em;
  color: #168de2;
}

.owl-carousel.slider {
  border-top: 3px solid #0771bd;
}
.owl-carousel.slider .slider__item {
  position: relative;
  height: 100%;
}
.owl-carousel.slider .owl-dots {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 15px;
  text-align: center;
}
.owl-carousel.slider .owl-dot {
  display: inline-block;
  margin-right: 10px;
}
.owl-carousel.slider .owl-dot:last-child {
  margin-right: 0;
}
.owl-carousel.slider .owl-dot span {
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #0771bd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.owl-carousel.slider .owl-dot.active span {
  background-color: #168de2;
  border: solid 1px #0771bd;
}
.owl-carousel .slide__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.owl-carousel .slide__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.85;
  background-image: linear-gradient(to top, rgba(55, 65, 76, 0.38), rgba(55, 65, 76, 0.8));
}
.owl-carousel .slide__content {
  padding: 20px 0 50px 0;
  position: relative;
  z-index: 10;
}
.owl-carousel .slide-content {
  text-align: center;
  color: #fff;
  font-family: OpenSans;
}
.owl-carousel .slide-content__header {
  margin-bottom: 20px;
  font-family: OpenSans-Semibold;
  font-size: 18px;
}
.owl-carousel .slide-content__text-small {
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 12px;
}
.owl-carousel .slide-content__text-box {
  display: flex;
  padding: 0 10px 0 20px;
  align-items: center;
  justify-content: center;
  font-size: 0;
}
.owl-carousel .slide-content__icon {
  flex: 0 0 auto;
}
.owl-carousel .slide-content__text-medium {
  flex: 0 1 auto;
  margin-left: 10px;
  text-align: left;
  line-height: 22px;
  font-size: 14px;
}

.main {
  padding: 15px 0 16px 0;
  background-color: #f7f8fa;
}
.main_pt-0 {
  padding-top: 0;
}

.content-wrap {
  padding-top: 15px;
  margin-bottom: 20px;
  flex-grow: 1;
}
.content-wrap_mb-0 {
  margin-bottom: 0;
}

.content-main {
  padding: 20px 0 20px 0;
  background: #fbfbfb;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.content-footer {
  background: #fff;
  padding: 15px 0;
}

.honor {
  padding: 5px 0 20px 0;
  text-align: center;
}
.honor .h2 {
  margin-bottom: 5px;
}
.honor__header {
  margin-bottom: 10px;
  font-family: OpenSans-Semibold;
  font-size: 30px;
}
.honor__amp {
  color: #0771bd;
}
.honor__text {
  margin-bottom: 20px;
  font-family: OpenSans-Light;
  font-size: 14px;
  color: #4d4d4d;
}
.honor__grid {
  padding: 0 20px;
  font-size: 0;
}
.honor__item {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: 0 20px;
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 12px;
  color: #4d4d4d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.honor__img {
  width: 69px;
  height: 80px;
}
.honor__caption {
  line-height: 1.5em;
}

.content-section {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px 0 rgba(77, 77, 77, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(77, 77, 77, 0.2);
  box-shadow: 0 0 3px 0 rgba(77, 77, 77, 0.2);
}
.content-section_pb-0 {
  padding-bottom: 0;
}
.content-section__header {
  padding: 0 15px;
  text-align: center;
}
.content-section__header .h2 {
  margin-bottom: 15px;
}
.content-section__item {
  display: block;
  padding: 15px 10px 5px 10px;
  background-color: #fbfbfb;
  border-top: solid 1px #f2f2f2;
  font-size: 0;
}
.content-section__item:nth-child(even) {
  background-color: #fff;
}
.content-section__left-col {
  display: inline-block;
  vertical-align: top;
  width: 7%;
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #4d4d4d;
}
.content-section__right-col {
  display: inline-block;
  vertical-align: top;
  width: 93%;
  font-size: 0;
}

.news-counter {
  text-align: center;
  margin-bottom: 16px;
}
.news-counter__link {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: OpenSans-Semibold;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43em;
  color: #168de2;
}

.counter {
  text-align: center;
  font-family: OpenSans-Semibold;
  font-size: 30px;
  line-height: 1.07em;
}
.counter__numeral {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.calendar-eco_page {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
}
.calendar-eco_page .calendar-eco__day {
  padding-left: 10px;
  padding-right: 10px;
}
.calendar-eco_page .calendar-eco__item {
  padding-left: 25px;
  padding-right: 25px;
}
.calendar-eco__day {
  padding: 5px;
  background-color: #e6e6e6;
  text-align: center;
  font-family: OpenSans-Semibold;
  font-size: 12px;
  line-height: 1.67em;
  color: #4d4d4d;
}
.calendar-eco__item {
  padding: 7px 7px 10px 7px;
  border-bottom: solid 1px #f2f2f2;
  font-size: 0;
}
.calendar-eco__left-col {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding-right: 10px;
  text-align: center;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar-eco__right-col {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 13px;
}
.calendar-eco__time {
  font-family: OpenSans-Semibold;
  font-size: 14px;
  line-height: 1.43em;
  color: #1a1a1a;
}
.calendar-eco__raiting {
  font-size: 0;
  text-align: center;
}
.calendar-eco__index {
  margin-bottom: 5px;
  font-family: OpenSans-Semibold;
  font-size: 13px;
  line-height: 1.23em;
  color: #168de2;
}

.eco-value {
  font-size: 0;
}
.eco-value__left-col {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 12px;
}
.eco-value__right-col {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 12px;
}
.eco-value__row {
  font-size: 12px;
}
.eco-value__text {
  display: inline-block;
  vertical-align: middle;
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #808080;
}
.eco-value__text_green {
  color: #52a123;
}
.eco-value__text_red {
  color: #ea433f;
}
.eco-value__text_ff-os-s {
  font-family: OpenSans-Semibold;
}

.banner {
  padding: 20px 0;
  position: relative;
}
.banner__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.banner__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.85;
  background-image: linear-gradient(to top, rgba(55, 65, 76, 0.38), rgba(55, 65, 76, 0.8));
}
.banner__content {
  padding: 0 10px;
  position: relative;
  z-index: 10;
}

.banner-content {
  color: #fff;
}
.banner-content__header {
  margin-bottom: 10px;
  text-align: center;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38em;
}
.banner-content__text {
  margin-bottom: 20px;
  text-align: center;
  font-family: OpenSans-Semibold;
  font-size: 12px;
  opacity: 0.7;
  color: #ffffff;
}

.traiders_page {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
}
.traiders_page .content-section__item {
  padding-left: 15px;
  padding-right: 15px;
}
.traiders_page .content-section__item:last-child {
  border-bottom: 1px solid #f2f2f2;
}
.traiders_page .content-section__left-col {
  width: 15%;
}
.traiders_page .content-section__right-col {
  width: 85%;
}
.traiders__left-cell {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  min-height: 24px;
  font-size: 18px;
}
.traiders__left-cell_half {
  width: 50%;
}
.traiders__right-cell {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  min-height: 24px;
  text-align: right;
  font-size: 18px;
}
.traiders__right-cell_half {
  width: 50%;
}
.traiders__text {
  text-transform: uppercase;
  font-family: Roboto-Medium;
  color: #1a1a1a;
}
.traiders__text_big {
  font-size: 18px;
  line-height: 1em;
}
.traiders__text_small {
  font-size: 12px;
  line-height: 2em;
}
.traiders__text_dark-gray {
  color: #4d4d4d;
}
.traiders__text_light-gray {
  color: #808080;
}

.dividends_page {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
}
.dividends_page .content-section__item {
  padding-left: 20px;
}
.dividends_page .content-section__item:last-child {
  border-bottom: 1px solid #f2f2f2;
}
.dividends_page .content-section__left-col {
  width: 15%;
}
.dividends_page .content-section__right-col {
  width: 85%;
}
.dividends__item {
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
}
.dividends__item:last-child {
  padding-bottom: 5px;
  margin-bottom: 0;
  border-bottom: none;
}
.dividends__row {
  margin-bottom: 7px;
  font-size: 0;
}
.dividends__row:last-child {
  margin-bottom: 0;
}
.dividends__col-25 {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  font-size: 12px;
}
.dividends__col-50 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 12px;
}
.dividends__col-50_pl-10 {
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dividends__col-50_ta-r {
  text-align: right;
}
.dividends__col-75 {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  font-size: 12px;
}
.dividends__col-100 {
  display: block;
  width: 100%;
  font-size: 12px;
}

.news {
  padding: 0 10px;
  text-align: center;
}
.news__list {
  text-align: left;
}
.news__item {
  margin-bottom: 15px;
  font-size: 0;
}
.news__info {
  margin-bottom: 5px;
}
.news__date {
  display: inline-block;
  vertical-align: top;
  width: 65px;
  font-family: OpenSans;
  font-size: 12px;
  line-height: 1.5em;
  color: #808080;
}
.news__category {
  display: inline-block;
  width: calc(100% - 65px);
  padding-left: 10px;
  color: #4d4d4d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.news__category .news__link {
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.5em;
  color: #4d4d4d;
}
.news__link {
  text-decoration: none;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.23em;
  color: #168de2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news__link:hover:hover, .news__link:hover:focus, .news__link:hover:active, .news__link:focus:hover, .news__link:focus:focus, .news__link:focus:active, .news__link:active:hover, .news__link:active:focus, .news__link:active:active, .news__link:visited:hover, .news__link:visited:focus, .news__link:visited:active {
  color: #fe7d1b;
}

.refill {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0;
}
.refill__item {
  display: inline-block;
  padding: 3px 15px;
  border-right: 1px solid #c8c8c8;
}
.refill__item:first-child {
  padding-left: 0;
}
.refill__item:last-child {
  padding-right: 0;
  border-right: none;
}

.footer {
  padding-bottom: 20px;
  background-color: #28313e;
}
.footer__item {
  padding: 0 40px;
  margin-bottom: 20px;
}
.footer__item:first-child {
  padding: 0;
}
.footer__item:last-child {
  margin-bottom: 0;
}

.copyright__text {
  text-align: center;
  font-family: OpenSans;
  font-size: 13px;
  line-height: 1.69em;
  color: #fbfbfb;
}

.soc__link {
  color: #fbfbfb;
}
.soc__link:hover:hover, .soc__link:hover:focus, .soc__link:hover:active, .soc__link:focus:hover, .soc__link:focus:focus, .soc__link:focus:active, .soc__link:active:hover, .soc__link:active:focus, .soc__link:active:active, .soc__link:visited:hover, .soc__link:visited:focus, .soc__link:visited:active {
  color: #168de2;
}
.soc__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.soc__item {
  font-size: 25px;
  color: #fbfbfb;
}

.burger-menu {
  width: 270px;
  height: calc(100% - 65px);
  background-color: #f2f2f2;
  border-top: 4px solid #fe7d1b;
  position: fixed;
  top: 65px;
  left: -270px;
  z-index: 100;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-menu.open {
  left: 0;
}
.burger-menu__footer {
  padding: 25px 20px 20px 20px;
}

.authorization {
  padding: 10px 12px;
  background-color: #0771bd;
}
.authorization__list {
  font-size: 0;
}
.authorization__item {
  padding: 0 10px;
  display: inline-block;
  position: relative;
  font-size: 16px;
}
.authorization__item:after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.authorization__item:first-child {
  padding-left: 0;
}
.authorization__item:last-child {
  padding-right: 0;
}
.authorization__item:last-child:after {
  display: none;
}
.authorization__icon {
  margin-right: 12px;
}
.authorization__link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-family: OpenSans;
  color: #fff;
}

.nav__list_dropdown {
  display: none;
}
.nav__item.dropdown-open .nav__arrow {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -moz-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  -o-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
}
.nav__row {
  border-bottom: 1px solid #e8e8e8;
  font-size: 0;
}
.nav__link {
  display: inline-flex;
  vertical-align: top;
  width: calc(100% - 50px);
  min-height: 50px;
  padding: 10px 10px 10px 50px;
  position: relative;
  align-items: center;
  text-decoration: none;
  font-family: OpenSans-Semibold;
  font-size: 18px;
  color: #4d4d4d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav__link_dropdown {
  width: 100%;
  background-color: #fff;
  font-size: 15px;
  font-weight: normal;
}
.nav__icon {
  display: flex;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}
.nav__toggle {
  display: inline-flex;
  vertical-align: top;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}
.nav__arrow {
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.service__item {
  margin-bottom: 15px;
}
.service__item:first-child .service__link {
  font-family: Roboto-Regular;
  font-size: 18px;
}
.service__item:last-child {
  margin-bottom: 0;
}
.service__link {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  text-decoration: none;
  font-family: OpenSans;
  font-size: 14px;
  color: #4d4d4d;
}
.service__icon {
  position: absolute;
  left: 0;
}

.upButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.upButton:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  border: 10px solid transparent;
  border-bottom: 15px solid #fff;
}
.upButton.active {
  visibility: visible;
  opacity: 1;
}

input {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.registration-tab {
  display: none;
}
.registration-tab.active {
  display: block;
}

/*# sourceMappingURL=app.css.map */
