.container {
  max-width: 768px;
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 0 14px;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Semibold;
  line-height: 38px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn_white-blue {
  background-color: #fff;
  border-color: #c8c8c8;
  color: #168de2;
}
.btn_white-blue:hover:hover, .btn_white-blue:hover:focus, .btn_white-blue:hover:active, .btn_white-blue:focus:hover, .btn_white-blue:focus:focus, .btn_white-blue:focus:active, .btn_white-blue:active:hover, .btn_white-blue:active:focus, .btn_white-blue:active:active, .btn_white-blue:visited:hover, .btn_white-blue:visited:focus, .btn_white-blue:visited:active {
  background-color: #2d90fc;
  border-color: #2d90fc;
  color: #fff;
}
.btn_white-orange {
  background-color: #fff;
  border-color: #fe7d1b;
  color: #fe7d1b;
}
.btn_white-orange:hover:hover, .btn_white-orange:hover:focus, .btn_white-orange:hover:active, .btn_white-orange:focus:hover, .btn_white-orange:focus:focus, .btn_white-orange:focus:active, .btn_white-orange:active:hover, .btn_white-orange:active:focus, .btn_white-orange:active:active, .btn_white-orange:visited:hover, .btn_white-orange:visited:focus, .btn_white-orange:visited:active {
  background-color: #fe7d1b;
  border-color: #fe7d1b;
  color: #fff;
}
.btn_blue {
  background-color: #2d90fc;
  border-color: #2d90fc;
  color: #fff;
}
.btn_blue:hover:hover, .btn_blue:hover:focus, .btn_blue:hover:active, .btn_blue:focus:hover, .btn_blue:focus:focus, .btn_blue:focus:active, .btn_blue:active:hover, .btn_blue:active:focus, .btn_blue:active:active, .btn_blue:visited:hover, .btn_blue:visited:focus, .btn_blue:visited:active {
  background-color: #fff;
  border-color: #2d90fc;
  color: #2d90fc;
}
.btn_orange {
  background-color: #fe7d1b;
  border-color: #fe7d1b;
  color: #fff;
}
.btn_orange:hover:hover, .btn_orange:hover:focus, .btn_orange:hover:active, .btn_orange:focus:hover, .btn_orange:focus:focus, .btn_orange:focus:active, .btn_orange:active:hover, .btn_orange:active:focus, .btn_orange:active:active, .btn_orange:visited:hover, .btn_orange:visited:focus, .btn_orange:visited:active {
  background-color: #fff;
  border-color: #fe7d1b;
  color: #fe7d1b;
}
.btn_black-orange {
  border-color: #1b2532;
  background-color: #1b2532;
  color: #168de2;
  border-radius: 0;
}
.btn_black-orange:hover:hover, .btn_black-orange:hover:focus, .btn_black-orange:hover:active, .btn_black-orange:focus:hover, .btn_black-orange:focus:focus, .btn_black-orange:focus:active, .btn_black-orange:active:hover, .btn_black-orange:active:focus, .btn_black-orange:active:active, .btn_black-orange:visited:hover, .btn_black-orange:visited:focus, .btn_black-orange:visited:active {
  background-color: #fe7d1b;
  border-color: #fe7d1b;
  color: #fff;
}
.btn_small {
  line-height: 24px;
  font-size: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn_brt-0-blue {
  position: relative;
  bottom: -5px;
}
.btn_brt-0-blue:before {
  content: "";
  width: calc(100%);
  height: 10px;
  display: block;
  background-color: #2d90fc;
  border-style: solid;
  border-color: #2d90fc;
  border-width: 1px 1px 0 1px;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn_brt-0-blue:hover:hover:before, .btn_brt-0-blue:hover:focus:before, .btn_brt-0-blue:hover:active:before, .btn_brt-0-blue:focus:hover:before, .btn_brt-0-blue:focus:focus:before, .btn_brt-0-blue:focus:active:before, .btn_brt-0-blue:active:hover:before, .btn_brt-0-blue:active:focus:before, .btn_brt-0-blue:active:active:before, .btn_brt-0-blue:visited:hover:before, .btn_brt-0-blue:visited:focus:before, .btn_brt-0-blue:visited:active:before {
  background: #fff;
}

.entry-field {
  padding: 0 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border: none;
  line-height: 40px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.entry-field::-webkit-input-placeholder {
  color: #808080;
}
.entry-field::-moz-placeholder {
  color: #808080;
}
.entry-field:-ms-input-placeholder {
  color: #808080;
}

.fs14 {
  font-size: 14px;
}

.h2 {
  font-family: OpenSans-Semibold;
  font-size: 16px;
}
