.container {
  max-width: 768px;
  padding: 0 12px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 0 14px;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Semibold;
  line-height: 38px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn_white-blue {
  background-color: #fff;
  border-color: #c8c8c8;
  color: #168de2;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.btn_white-blue:hover:hover, .btn_white-blue:hover:focus, .btn_white-blue:hover:active, .btn_white-blue:focus:hover, .btn_white-blue:focus:focus, .btn_white-blue:focus:active, .btn_white-blue:active:hover, .btn_white-blue:active:focus, .btn_white-blue:active:active, .btn_white-blue:visited:hover, .btn_white-blue:visited:focus, .btn_white-blue:visited:active {
  background-color: #2d90fc;
  border-color: #2d90fc;
  color: #fff;
}
.btn_white-orange {
  background-color: #fff;
  border-color: #fe7d1b;
  color: #fe7d1b;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.btn_white-orange:hover:hover, .btn_white-orange:hover:focus, .btn_white-orange:hover:active, .btn_white-orange:focus:hover, .btn_white-orange:focus:focus, .btn_white-orange:focus:active, .btn_white-orange:active:hover, .btn_white-orange:active:focus, .btn_white-orange:active:active, .btn_white-orange:visited:hover, .btn_white-orange:visited:focus, .btn_white-orange:visited:active {
  background-color: #fe7d1b;
  border-color: #fe7d1b;
  color: #fff;
}
.btn_blue {
  background-color: #2d90fc;
  border-color: #2d90fc;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn_blue:hover:hover, .btn_blue:hover:focus, .btn_blue:hover:active, .btn_blue:focus:hover, .btn_blue:focus:focus, .btn_blue:focus:active, .btn_blue:active:hover, .btn_blue:active:focus, .btn_blue:active:active, .btn_blue:visited:hover, .btn_blue:visited:focus, .btn_blue:visited:active {
  background-color: #fff;
  border-color: #2d90fc;
  color: #2d90fc;
}
.btn_orange {
  background-color: #fe7d1b;
  border-color: #fe7d1b;
  color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.btn_orange:hover:hover, .btn_orange:hover:focus, .btn_orange:hover:active, .btn_orange:focus:hover, .btn_orange:focus:focus, .btn_orange:focus:active, .btn_orange:active:hover, .btn_orange:active:focus, .btn_orange:active:active, .btn_orange:visited:hover, .btn_orange:visited:focus, .btn_orange:visited:active {
  background-color: #fff;
  border-color: #fe7d1b;
  color: #fe7d1b;
}
.btn_black-orange {
  border-color: #1b2532;
  background-color: #1b2532;
  color: #168de2;
}
.btn_black-orange:hover:hover, .btn_black-orange:hover:focus, .btn_black-orange:hover:active, .btn_black-orange:focus:hover, .btn_black-orange:focus:focus, .btn_black-orange:focus:active, .btn_black-orange:active:hover, .btn_black-orange:active:focus, .btn_black-orange:active:active, .btn_black-orange:visited:hover, .btn_black-orange:visited:focus, .btn_black-orange:visited:active {
  background-color: #fe7d1b;
  border-color: #fe7d1b;
  color: #fff;
}
.btn_small {
  line-height: 24px;
  font-size: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn_short {
  width: 190px;
}
.btn_brt-0-blue {
  position: relative;
  bottom: -1px;
}
.btn_brt-0-blue:before {
  content: "";
  width: calc(100%);
  height: 10px;
  display: block;
  background-color: #2d90fc;
  border-style: solid;
  border-color: #2d90fc;
  border-width: 1px 1px 0 1px;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn_brt-0-blue:hover:hover:before, .btn_brt-0-blue:hover:focus:before, .btn_brt-0-blue:hover:active:before, .btn_brt-0-blue:focus:hover:before, .btn_brt-0-blue:focus:focus:before, .btn_brt-0-blue:focus:active:before, .btn_brt-0-blue:active:hover:before, .btn_brt-0-blue:active:focus:before, .btn_brt-0-blue:active:active:before, .btn_brt-0-blue:visited:hover:before, .btn_brt-0-blue:visited:focus:before, .btn_brt-0-blue:visited:active:before {
  background: #fff;
}

.radio-box {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.radio-box__switch {
  position: absolute;
  top: 50%;
  left: 0;
  outline: none;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.radio-box__switch:checked + .radio-box__switch-imitator {
  border-color: #168de2;
}
.radio-box__switch:checked + .radio-box__switch-imitator:before {
  width: 9px;
  height: 9px;
  opacity: 1;
}

.radio-box__switch-imitator {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #b8b8b8;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.radio-box__switch-imitator:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #168de2;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.entry-field {
  width: 100%;
  padding: 0 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border: 2px solid transparent;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 38px;
  color: #1a1a1a;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.entry-field::-webkit-input-placeholder {
  color: #808080;
}
.entry-field::-moz-placeholder {
  color: #808080;
}
.entry-field:-ms-input-placeholder {
  color: #808080;
}
.entry-field::-webkit-input-placeholder {
  color: #808080;
}
.entry-field::-moz-placeholder {
  color: #808080;
}
.entry-field:-ms-input-placeholder {
  color: #808080;
}
.entry-field:focus {
  border: solid 2px #2192fd;
}

.select {
  width: 100%;
  padding: 0 20px 0 14px;
  background-color: #fff;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border: 2px solid transparent;
  font-family: OpenSans;
  font-size: 14px;
  height: 38px;
  color: #1a1a1a;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.select::-webkit-input-placeholder {
  color: #808080;
}
.select::-moz-placeholder {
  color: #808080;
}
.select:-ms-input-placeholder {
  color: #808080;
}
.select::-webkit-input-placeholder {
  color: #808080;
}
.select::-moz-placeholder {
  color: #808080;
}
.select:-ms-input-placeholder {
  color: #808080;
}
.select:focus {
  border: 2px solid #2192fd;
}

.label {
  display: inline-block;
  margin: 0 0 5px 3px;
  font-family: OpenSans-Semibold;
  font-size: 14px;
  color: #1a1a1a;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-family: OpenSans;
  font-size: 14px;
  color: #168de2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.link:hover:hover, .link:hover:focus, .link:hover:active, .link:focus:hover, .link:focus:focus, .link:focus:active, .link:active:hover, .link:active:focus, .link:active:active, .link:visited:hover, .link:visited:focus, .link:visited:active {
  color: #fe7d1b;
}

.badge {
  display: inline-block;
}
.badge_blue {
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #168de2;
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 12px;
  line-height: 1.17em;
  color: #fff;
}
.badge_beige {
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.counter-signature {
  width: 170px;
  margin: 0 auto;
}
.counter-signature__list {
  font-size: 0;
}
.counter-signature__item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  position: relative;
  text-align: center;
  font-size: 0;
}
.counter-signature__item:last-child:after {
  display: none;
}
.counter-signature__item:after {
  content: ":";
  display: block;
  position: absolute;
  top: 0;
  right: -2px;
  font-family: OpenSans-Semibold;
  font-size: 18px;
}
.counter-signature__numeral {
  display: inline-block;
  margin-bottom: 3px;
  font-family: OpenSans-Semibold;
  font-size: 18px;
}
.counter-signature__numeral_c-ls {
  color: #e51c23;
}
.counter-signature__text {
  font-family: Roboto-Regular;
  font-size: 11px;
  color: #808080;
}

.captcha {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.captcha__img {
  width: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}

.popup {
  opacity: 0;
  visibility: hidden;
  padding: 30px 0;
  width: 100%;
  height: 100%;
  background-color: #28313e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.popup.active {
  visibility: visible;
  opacity: 1;
}

.popup__btn-close {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}

.popup__btn-line {
  display: inline-block;
  width: 50%;
  height: 2px;
  background: #fff;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.popup__btn-line:last-child {
  height: 50%;
  width: 2px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.tt-u {
  text-transform: uppercase;
}

.ff-os {
  font-family: OpenSans;
}

.ff-os-l {
  font-family: OpenSans-Light;
}

.ff-os-s {
  font-family: OpenSans-Semibold;
}

.ff-r-r {
  font-family: Roboto-Regular;
}

.ff-r-m {
  font-family: Roboto-Medium;
}

.ff-r-i {
  font-family: Roboto-Italic;
}

.fs-0 {
  font-size: 0;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.lh-1-57em {
  line-height: 1.57em;
}

.lh-1-31em {
  line-height: 1.31em;
}

.c-darkest {
  color: #1a1a1a;
}

.c-warm-gray {
  color: #808080;
}

.c-gr-brown {
  color: #4d4d4d;
}

.c-red {
  color: #ea433f;
}

.c-white {
  color: #fff;
}

.h2 {
  font-family: OpenSans-Semibold;
  font-size: 16px;
  line-height: 1.38em;
}

.h3 {
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.38em;
  color: #fff;
}

.triangle-up {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 8px solid #808080;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.triangle-down {
  display: inline-block;
  vertical-align: middle;
  border-top: 8px solid #808080;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
