@font-face
    font-family: OpenSans
    src: url(../fonts/OpenSans.eot), url(../fonts/OpenSans.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans.woff) format("woff"), url(../fonts/OpenSans.woff2) format("woff2"), url(../fonts/OpenSans.svg#OpenSans) format("svg"), url(../fonts/OpenSans.ttf) format("truetype")
    font-weight: normal
    font-style: normal