@import "mixins/mixins"



.container
    max-width: 768px
    padding: 0 12px
    margin: 0 auto
    +box-sizing(border-box)


.btn
    display: inline-block
    width: 100%
    padding: 0 14px
    border: 1px solid transparent
    text-align: center
    text-decoration: none
    font-family: OpenSans-Semibold
    line-height: 38px
    font-size: 14px
    outline: none
    cursor: pointer
    +box-sizing(border-box)
    +transition(all 0.3s ease 0s)
    &_white-blue
        background-color: #fff
        border-color: #c8c8c8
        color: #168de2
        +border-radius(7px)
        &:hover, &:focus, &:active
            background-color: #2d90fc
            border-color: #2d90fc
            color: #fff
    &_white-orange
        background-color: #fff
        border-color: #fe7d1b
        color: #fe7d1b
        +border-radius(7px)
        &:hover, &:focus, &:active
            background-color: #fe7d1b
            border-color: #fe7d1b
            color: #fff
    &_blue
        background-color: #2d90fc
        border-color: #2d90fc
        color: #fff
        +border-radius(4px)
        &:hover, &:focus, &:active
            background-color: #2086e5
            border-color: #2086e5
    &_orange
        background-color: #fe7d1b
        border-color: #fe7d1b
        color: #fff
        +border-radius(7px)
        &:hover, &:focus, &:active
            background-color: #ec6600
            border-color: #ec6600
            color: #fff
    &_black-orange
        border-color: #1b2532
        background-color: #1b2532
        color: #168de2
        &:hover, &:focus, &:active
            background-color: #fe7d1b
            border-color: #fe7d1b
            color: #fff
    &_small
        line-height: 24px
        font-size: 13px
        +border-radius(5px)
    &_short
        width: 190px
    &_brt-0-blue
        border-radius: 0 0 5px 5px

.radio-box
    display: inline-block
    padding-left: 30px
    position: relative
    font-family: OpenSans
    font-size: 14px
    line-height: 20px
    cursor: pointer
.radio-box__switch
    position: absolute
    top: 50%
    left: 0
    outline: none
    opacity: 0
    +transform(translateY(-50%))
    &:checked + .radio-box__switch-imitator
        border-color: #168de2
        &:before
            width: 9px
            height: 9px
            opacity: 1
.radio-box__switch-imitator
    display: block
    width: 20px
    height: 20px
    border: 2px solid #b8b8b8
    position: absolute
    top: 50%
    left: 0
    +border_radius(50%)
    +box-sizing(border-box)
    +transition(all 0.3s ease 0s)
    +transform(translateY(-50%))
    &:before
        content: ""
        display: block
        width: 20px
        height: 20px
        background: #168de2
        position: absolute
        top: 50%
        left: 50%
        opacity: 0
        +border_radius(50%)
        +transition(all 0.3s ease 0s)
        +transform(translate(-50%, -50%))

.entry-field
    width: 100%
    padding: 0 14px
    background-color: #fff
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.24)
    border: none
    font-family: OpenSans
    font-size: 14px
    line-height: 38px
    height: 38px
    color: #1a1a1a
    outline: none
    +box-sizing(border-box)
    +border-radius(4px)
    +placeholder(#808080)
    &::-webkit-input-placeholder
        color: #808080
    &::-moz-placeholder
        color: #808080
    &:-ms-input-placeholder
        color: #808080
    &:focus
        //border: solid 2px #2192fd
        border: none
        box-shadow: inset 0 0 0 2px #2192fd

.select
    width: 100%
    padding: 0 20px 0 14px
    background-color: #fff
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.24)
    border: none
    font-family: OpenSans
    font-size: 14px
    height: 38px
    color: #1a1a1a
    outline: none
    +border-radius(4px)
    +placeholder(#808080)
    &::-webkit-input-placeholder
        color: #808080
    &::-moz-placeholder
        color: #808080
    &:-ms-input-placeholder
        color: #808080
    &:focus
        //border: 2px solid #2192fd
        border: none
        box-shadow: inset 0 0 0 2px #2192fd

.label
    display: inline-block
    margin: 0 0 5px 3px
    font-family: OpenSans-Semibold
    font-size: 14px
    color: #1a1a1a

.link
    display: inline-block
    text-decoration: none
    font-family: OpenSans
    font-size: 14px
    color: #168de2
    +transition(all 0.3s ease 0s)
    &:hover, &:focus, &:active
        color: #fe7d1b

.badge
    display: inline-block
    &_blue
        padding: 2px 6px
        border-radius: 5px
        background-color: #168de2
        text-align: center
        font-family: Roboto-Regular
        font-size: 12px
        line-height: 1.17em
        color: #fff
    &_beige
        padding: 4px 8px
        border-radius: 3px
        background-color: #f7f7f7

.counter-signature
    width: 170px
    margin: 0 auto
    &__list
        font-size: 0
    &__item
        display: inline-block
        vertical-align: top
        width: 25%
        position: relative
        text-align: center
        font-size: 0
        &:last-child
            &:after
                display: none
        &:after
            content: ":"
            display: block
            position: absolute
            top: 0
            right: -2px
            font-family: OpenSans-Semibold
            font-size: 18px
    &__numeral
        display: inline-block
        vertical-align: middle
        margin-bottom: 3px
        font-family: OpenSans-Semibold
        font-size: 18px
        &_c-ls
            color: #e51c23
    &__text
        font-family: Roboto-Regular
        font-size: 11px
        color: #808080

.captcha
    display: inline-block
    width: 100%
    max-width: 400px
    +border-radius(5px)
.captcha__img
    width: 100%
    object-fit: contain
    -o-object-fit: contain

.popup
    opacity: 0
    visibility: hidden
    padding: 30px 0
    width: 100%
    height: 100%
    background-color: #28313e
    position: fixed
    top: 0
    left: 0
    z-index: 100
    overflow: auto
    +transition()
    &.active
        visibility: visible
        opacity: 1
.popup__btn-close
    display: inline-block
    width: 30px
    height: 30px
    +transform(rotate(45deg))
    cursor: pointer
.popup__btn-line
    display: inline-block
    width: 50%
    height: 2px
    background: #fff
    left: 50%
    top: 50%
    position: absolute
    +transform(translate3d(-50%, -50%, 0))
    &:last-child
        height: 50%
        width: 2px

.mb-5
    margin-bottom: 5px
.mb-10
    margin-bottom: 10px
.mb-15
    margin-bottom: 15px
.mb-20
    margin-bottom: 20px
.mb-25
    margin-bottom: 25px
.mr-5
    margin-right: 5px
.mr-10
    margin-right: 10px

.ta-c
    text-align: center
.ta-r
    text-align: right
.tt-u
    text-transform: uppercase

.ff-os
    font-family: OpenSans
.ff-os-l
    font-family: OpenSans-Light
.ff-os-s
    font-family: OpenSans-Semibold
.ff-r-r
    font-family: Roboto-Regular
.ff-r-m
    font-family: Roboto-Medium
.ff-r-i
    font-family: Roboto-Italic

.fs-0
    font-size: 0
.fs-11
    font-size: 11px
.fs-12
    font-size: 12px
.fs-13
    font-size: 13px
.fs-14
    font-size: 14px
.fs-18
    font-size: 18px

.lh-1-57em
    line-height: 1.57em
.lh-1-31em
    line-height: 1.31em

.c-darkest
    color: #1a1a1a
.c-warm-gray
    color: #808080
.c-gr-brown
    color: #4d4d4d
.c-red
    color: #ea433f
.c-white
    color: #fff

.h2
    font-family: OpenSans-Semibold
    font-size: 16px
    line-height: 1.38em
.h3
    font-family: OpenSans
    font-size: 16px
    line-height: 1.38em
    color: #fff

.triangle-up
    display: inline-block
    vertical-align: middle
    border-bottom: 8px solid #808080
    border-left: 5px solid transparent
    border-right: 5px solid transparent
.triangle-down
    display: inline-block
    vertical-align: middle
    border-top: 8px solid #808080
    border-left: 5px solid transparent
    border-right: 5px solid transparent