{% extends "layouts/app.twig" %}

{% block pageTitle %}Вход в личный кабинет{% endblock %}

{% block content %}
    <section class="content-wrap content-wrap_mb-0">
        <div class="container">
            <div class="mb-15">
                <h2 class="h2">Вход в личный кабинет</h2>
            </div>
        </div>
        <div class="content-main">
            <div class="container">
                <form method="post">
                <div class="mb-15">
                    <label class="label">Логин</label>
                    <input type="text" class="entry-field" title="Логин" placeholder="Логин">
                </div>
                <div class="mb-15">
                    <label class="label">Пароль</label>
                    <input type="text" class="entry-field" title="Пароль" placeholder="Введите пароль">
                </div>
                <button type="button" class="btn btn_blue mb-20">Войти</button>
                <div class="ta-c mb-20">
                    <a class="link" href="#">У меня есть кабинет я забыл пароль</a>
                </div>
                <div>
                    <button type="button" class="btn btn_white-blue">Открыть счет</button>
                </div>
            </form>
            </div>
        </div>
    </section>
{% endblock %}