{% extends "layouts/app.twig" %}

{% block pageTitle %}Календарь{% endblock %}

{% block content %}
    <section class="content-wrap">
        <div class="container">
            <div class="mb-15">
                <h2 class="h2">Экономический календарь</h2>
            </div>
            <div class="calendar-eco calendar-eco_page">
                <div class="calendar-eco__day">
                    Понедельник, 31 октября 2016 г.
                </div>
                <ul class="calendar-eco__list">
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="calendar-eco__day">
                    Понедельник, 30 октября 2016 г.
                </div>
                <ul class="calendar-eco__list">
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="calendar-eco__day">
                    Понедельник, 31 октября 2016 г.
                </div>
                <ul class="calendar-eco__list">
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="calendar-eco__day">
                    Понедельник, 30 октября 2016 г.
                </div>
                <ul class="calendar-eco__list">
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="calendar-eco__day">
                    Понедельник, 31 октября 2016 г.
                </div>
                <ul class="calendar-eco__list">
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="calendar-eco__day">
                    Понедельник, 30 октября 2016 г.
                </div>
                <ul class="calendar-eco__list">
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">14:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-unpainted"></i>
                                <i class="icon bull-unpainted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__left-col">
                                    <span class="eco-value__text">Проноз:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                                <div class="eco-value__right-col">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-up"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="calendar-eco__item">
                        <div class="calendar-eco__left-col">
                            <div class="calendar-eco__time">19:30</div>
                            <div class="calendar-eco__raiting">
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                                <i class="icon bull-painted"></i>
                            </div>
                        </div>
                        <div class="calendar-eco__right-col">
                            <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                            <div class="calendar-eco__value eco-value">
                                <div class="eco-value__row">
                                    <span class="eco-value__text">Предыдущ:</span>
                                    <i class="triangle-down"></i>
                                    <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mb-20">
                <button type="button" class="btn btn_blue">Показать ещё</button>
            </div>
        </div>
    </section>
{% endblock %}