{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
    <section class="owl-carousel slider">
        <div class="slider__item slide">
            <div class="slide__bg" style="background: url(images/slide-1.jpg) no-repeat center center; background-size: cover"></div>
            <div class="slide__mask"></div>
            <div class="slide__content slide-content">
                <div class="container">
                    <h2 class="slide-content__header">Бездепозитные счета</h2>
                    <p class="slide-content__text-small">Уникальный сервис позволяющий<br>
                        получить стартовый  капитал<br>
                        для начинающих трейдеров</p>
                    <p class="slide-content__text-box">
                        <i class="slide-content__icon icon check"></i>
                        <span class="slide-content__text-medium">Торговля без вложений и риска</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="slider__item slide">
            <div class="slide__bg" style="background: url(images/slide-2.jpg) no-repeat center center; background-size: cover"></div>
            <div class="slide__mask"></div>
            <div class="slide__content slide-content">
                <div class="container">
                    <h2 class="slide-content__header">Бинарные опционы</h2>
                    <p class="slide-content__text-small">Наши новейшие технологии –<br>
                        для Вашего моментального результата</p>
                    <p class="slide-content__text-box">
                        <i class="slide-content__icon icon check"></i>
                        <span class="slide-content__text-medium">Воспользуйтесь возможностью сделать максимально успешный старт</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="slider__item slide">
            <div class="slide__bg" style="background: url(images/slide-3.jpg) no-repeat center center; background-size: cover"></div>
            <div class="slide__mask"></div>
            <div class="slide__content slide-content">
                <div class="container">
                    <h2 class="slide-content__header">Классический Форекс</h2>
                    <p class="slide-content__text-small">Качественный сервис на рынке Форекс и CFD контрактов проверенный временем</p>
                    <p class="slide-content__text-box">
                        <i class="slide-content__icon icon check"></i>
                        <span class="slide-content__text-medium">Этот сервис выбирают миллионы трейдеров  со всего мира</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="slider__item slide">
            <div class="slide__bg" style="background: url(images/slide-4.jpg) no-repeat center center; background-size: cover"></div>
            <div class="slide__mask"></div>
            <div class="slide__content slide-content">
                <div class="container">
                    <h2 class="slide-content__header">NDD/ECN счета</h2>
                    <p class="slide-content__text-small">Прямой доступ к межбанковской ликвидности по технологии STP  и Direct Memory Access (DMA)</p>
                    <p class="slide-content__text-box">
                        <i class="slide-content__icon icon check"></i>
                        <span class="slide-content__text-medium">Оптимальное решение<br> для алгоритмического  трейдинга</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="slider__item slide">
            <div class="slide__bg" style="background: url(images/slide-5.jpg) no-repeat center center; background-size: cover"></div>
            <div class="slide__mask"></div>
            <div class="slide__content slide-content">
                <div class="container">
                    <h2 class="slide-content__header">Стать партнером</h2>
                    <p class="slide-content__text-small">Отдел развития Larson&Holz Ltd делает Вам уникальное предложение</p>
                    <p class="slide-content__text-box">
                        <i class="slide-content__icon icon check"></i>
                        <span class="slide-content__text-medium">Стань партнёром и начни зарабатывать от 10 000$ пассивного дохода в месяц</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="container">
            <div class="honor">
                <p class="honor__header">LARSON<span class="honor__amp">&</span>HOLZ</p>
                <h2 class="h2">Лучший ndd-сервис</h2>
                <p class="honor__text">по версии russian trading day</p>
                <div class="honor__grid">
                    <div class="honor__item">
                        <div class="mb-5">
                            <img class="honor__img" src="images/the-best-broker-2013.png">
                        </div>
                        <p class="honor__caption">The Best Brocker 2013</p>
                    </div>
                    <div class="honor__item">
                        <div class="mb-5">
                            <img class="honor__img" src="images/iaft-awards-2012.png">
                        </div>
                        <p class="honor__caption">IAFT awards 2012</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content-section news-counter">
                <div class="content-section__header">
                    <h2 class="h2">До выхода новости осталось</h2>
                </div>
                <a class="news-counter__link" href="#">Жилищные кредиты</a>
                <div class="news-counter__time counter">
                    <span class="counter__numeral">1</span><span class="counter__numeral">4</span>
                    :
                    <span class="counter__numeral">3</span><span class="counter__numeral">5</span>
                    :
                    <span class="counter__numeral">5</span><span class="counter__numeral">9</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content-section content-section_pb-0">
                <div class="content-section__header">
                    <h2 class="h2">Экономический календарь</h2>
                </div>
                <div class="calendar-eco">
                    <div class="calendar-eco__day">
                        Понедельник, 31 октября 2016 г.
                    </div>
                    <ul class="calendar-eco__list">
                        <li class="calendar-eco__item">
                            <div class="calendar-eco__left-col">
                                <div class="calendar-eco__time">19:30</div>
                                <div class="calendar-eco__raiting">
                                    <i class="icon bull-painted"></i>
                                    <i class="icon bull-unpainted"></i>
                                    <i class="icon bull-unpainted"></i>
                                </div>
                            </div>
                            <div class="calendar-eco__right-col">
                                <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                                <div class="calendar-eco__value eco-value">
                                    <div class="eco-value__left-col">
                                        <span class="eco-value__text">Проноз:</span>
                                        <i class="triangle-up"></i>
                                        <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                    </div>
                                    <div class="eco-value__right-col">
                                        <span class="eco-value__text">Предыдущ:</span>
                                        <i class="triangle-up"></i>
                                        <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="calendar-eco__item">
                            <div class="calendar-eco__left-col">
                                <div class="calendar-eco__time">14:30</div>
                                <div class="calendar-eco__raiting">
                                    <i class="icon bull-painted"></i>
                                    <i class="icon bull-painted"></i>
                                    <i class="icon bull-unpainted"></i>
                                </div>
                            </div>
                            <div class="calendar-eco__right-col">
                                <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                                <div class="calendar-eco__value eco-value">
                                    <div class="eco-value__row">
                                        <span class="eco-value__text">Предыдущ:</span>
                                        <i class="triangle-down"></i>
                                        <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="calendar-eco__day">
                        Понедельник, 30 октября 2016 г.
                    </div>
                    <ul class="calendar-eco__list">
                        <li class="calendar-eco__item">
                            <div class="calendar-eco__left-col">
                                <div class="calendar-eco__time">19:30</div>
                                <div class="calendar-eco__raiting">
                                    <i class="icon bull-painted"></i>
                                    <i class="icon bull-unpainted"></i>
                                    <i class="icon bull-unpainted"></i>
                                </div>
                            </div>
                            <div class="calendar-eco__right-col">
                                <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                                <div class="calendar-eco__value eco-value">
                                    <div class="eco-value__left-col">
                                        <span class="eco-value__text">Проноз:</span>
                                        <i class="triangle-up"></i>
                                        <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                    </div>
                                    <div class="eco-value__right-col">
                                        <span class="eco-value__text">Предыдущ:</span>
                                        <i class="triangle-up"></i>
                                        <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_green">1,5%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="calendar-eco__item">
                            <div class="calendar-eco__left-col">
                                <div class="calendar-eco__time">14:30</div>
                                <div class="calendar-eco__raiting">
                                    <i class="icon bull-painted"></i>
                                    <i class="icon bull-painted"></i>
                                    <i class="icon bull-unpainted"></i>
                                </div>
                            </div>
                            <div class="calendar-eco__right-col">
                                <div class="calendar-eco__index">Revised Industrial Production m/m, JPY</div>
                                <div class="calendar-eco__value eco-value">
                                    <div class="eco-value__row">
                                        <span class="eco-value__text">Предыдущ:</span>
                                        <i class="triangle-down"></i>
                                        <span class="eco-value__text eco-value__text_ff-os-s eco-value__text_red">3,5%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <a class="btn btn_blue btn_brt-0-blue" href="#">Смотреть весь календарь</a>
                </div>
            </div>
        </div>
    </section>
    <section class="banner">
        <div class="container">
            <div class="banner__bg" style="background: url(images/banner.jpg) no-repeat center center; background-size: cover"></div>
            <div class="banner__mask"></div>
            <div class="banner__content banner-content">
                <h2 class="banner-content__header">Уникальный конкурс<br>призовой фонд более 150 000$<br>от Larson&Holz</h2>
                <p class="banner-content__text">Открой счет сегодня и получи возможность участвовать в конкурсе с призовым фондом более 150 000 $</p>
                <div>
                    <a class="btn btn_orange" href="#">Участвовать в конкурсе</a>
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="container">
            <div class="content-section content-section_pb-0">
                <div class="content-section__header">
                    <h2 class="h2">Лучшие трейдеры</h2>
                </div>
                <div class="traiders">
                    <ul class="content-section__list">
                        <li class="content-section__item">
                            <div class="content-section__left-col">1</div>
                            <div class="content-section__right-col">
                                <div class="traiders__left-cell traiders__left-cell_half">
                                    <span class="traiders__text traiders__text_big">Aidan</span>
                                </div>
                                <div class="traiders__right-cell traiders__right-cell_half">
                                    <span class="traiders__text traiders__text_big">$134,806</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="badge badge_blue tt-u">60 seconds</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="traiders__text traiders__text_small">Актив</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                                </div>
                            </div>
                        </li>
                        <li class="content-section__item">
                            <div class="content-section__left-col">2</div>
                            <div class="content-section__right-col">
                                <div class="traiders__left-cell traiders__left-cell_half">
                                    <span class="traiders__text traiders__text_big">Aidan</span>
                                </div>
                                <div class="traiders__right-cell traiders__right-cell_half">
                                    <span class="traiders__text traiders__text_big">$134,806</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="badge badge_blue tt-u">60 seconds</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="traiders__text traiders__text_small">Актив</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                                </div>
                            </div>
                        </li>
                        <li class="content-section__item">
                            <div class="content-section__left-col">3</div>
                            <div class="content-section__right-col">
                                <div class="traiders__left-cell traiders__left-cell_half">
                                    <span class="traiders__text traiders__text_big">Aidan</span>
                                </div>
                                <div class="traiders__right-cell traiders__right-cell_half">
                                    <span class="traiders__text traiders__text_big">$134,806</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="badge badge_blue tt-u">60 seconds</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="traiders__text traiders__text_small">Актив</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                                </div>
                            </div>
                        </li>
                        <li class="content-section__item">
                            <div class="content-section__left-col">4</div>
                            <div class="content-section__right-col">
                                <div class="traiders__left-cell traiders__left-cell_half">
                                    <span class="traiders__text traiders__text_big">Aidan</span>
                                </div>
                                <div class="traiders__right-cell traiders__right-cell_half">
                                    <span class="traiders__text traiders__text_big">$134,806</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="badge badge_blue tt-u">60 seconds</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="traiders__text traiders__text_small">Актив</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                                </div>
                            </div>
                        </li>
                        <li class="content-section__item">
                            <div class="content-section__left-col">5</div>
                            <div class="content-section__right-col">
                                <div class="traiders__left-cell traiders__left-cell_half">
                                    <span class="traiders__text traiders__text_big">Aidan</span>
                                </div>
                                <div class="traiders__right-cell traiders__right-cell_half">
                                    <span class="traiders__text traiders__text_big">$134,806</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="badge badge_blue tt-u">60 seconds</span>
                                </div>
                                <div class="traiders__left-cell">
                                    <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                                </div>
                                <div class="traiders__right-cell">
                                    <span class="traiders__text traiders__text_small">Актив</span>
                                    <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <a class="btn btn_blue btn_brt-0-blue" href="#">Смотреть всю таблицу</a>
                </div>
            </div>
        </div>
    </section>
    <section class="main main_pt-0">
        <div class="container">
            <div class="content-section">
                <div class="content-section__header">
                    <h2 class="h2">Новости</h2>
                </div>
                <div class="news">
                    <ul class="news__list">
                        <li class="news__item">
                            <div class="news__info">
                                <div class="news__date">30.09.2016</div>
                                <div class="news__category">
                                    <a class="news__link" href="#">Шок прогнозы</a>
                                </div>
                            </div>
                            <a class="news__link" href="#">Шокирующие прогнозы от Larson&Holz на октябрь</a>
                        </li>
                        <li class="news__item">
                            <div class="news__info">
                                <div class="news__date">27.10.2016</div>
                                <div class="news__category">
                                    <a class="news__link" href="#">Новости компании</a>
                                </div>
                            </div>
                            <a class="news__link" href="#">Переход на зимнее время</a>
                        </li>
                        <li class="news__item">
                            <div class="news__info">
                                <div class="news__date">05.10.2016</div>
                                <div class="news__category">
                                    <a class="news__link" href="#">Новости компании</a>
                                </div>
                            </div>
                            <a class="news__link" href="#">Компания Alcoa планирует консолидацию акций</a>
                        </li>
                        <li class="news__item">
                            <div class="news__info">
                                <div class="news__date">31.08.2016</div>
                                <div class="news__category">
                                    <a class="news__link" href="#">Новости компании</a>
                                </div>
                            </div>
                            <a class="news__link" href="#">Шокирующие прогнозы от Larson&Holz на сентябрь</a>
                        </li>
                    </ul>
                    <a class="news__link" href="#">Смотреть все новости</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}