{% extends "layouts/app.twig" %}

{% block pageTitle %}Личный кабинет{% endblock %}

{% block content %}
    <section class="content-wrap">
        <div class="container">
            <div class="mb-15">
                <h2 class="h2 mb-5">Личный кабинет</h2>
                <p class="ff-os fs-14 gr-brown">Здравствуйте, <span class="ff-os-s c-gr-brown">Иванов Александр</span></p>
            </div>
            <div class="content-main">
                <div class="ff-os fs-14">
                    <p class="mb-15"><span class="mr-5">Номер счета:</span> <span class="ff-os-s fs-14">1567780</span></p>
                    <p class="mb-15"><span class="mr-5">Плечо:</span> <span class="ff-os-s fs-14">1:100</span></p>
                    <p class="mb-15"><span class="mr-5">Сервис:</span> <span class="ff-os-s fs-14">Safe</span></p>
                    <p class="mb-15"><span class="mr-5">Ваш консультант:</span> <a class="link ff-os-s" href="#">Петров Иван</a></p>
                    <p><span class="mr-5">Контакты:</span> <a class="link ff-os-s" href="tel:+78005500015">+7-800-550-00-15</a></p>
                </div>
            </div>
            <div class="content-footer">
                <p class="mb-20">
                    <a class="link" href="#">Пополнить счет</a>
                </p>
                <p class="mb-20">
                    <a class="link tt-u" href="#">Deposit</a>
                </p>
                <p>
                    <a class="link tt-u" href="#">Whithdrawal</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}