{% extends "layouts/app.twig" %}

{% block pageTitle %}Пополнить счет{% endblock %}

{% block content %}
    <section class="content-wrap">
        <div class="container">
            <div>
                <div class="mb-10">
                    <h2 class="h2">Пополнить счет</h2>
                </div>
                <div class="mb-20">
                    <p class="ff-os fs-13 c-warm-gray">
                        После каждого перевода, для оперативного зачисление денежных средств, уведомляйте об этом нашу Компанию, в разделе сайта: Кабинет -> Deposit. При автоматических способах поплнения средств уведомлять о переводе не нужно.
                    </p>
                </div>
                <div class="mb-20">
                    <a class="link" href="#">Пополнить счет</a>
                </div>
                <div>
                    <a class="link" href="#">Банковские переводы</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}