{% extends "layouts/app.twig" %}

{% block pageTitle %}Регистрация нового клиента{% endblock %}

{% block content %}
	<section class="content-wrap content-wrap_mb-0">
		<div class="container">
			<div class="mb-15">
				<h2 class="h2 mb-5">Регистрация нового клиента</h2>
				<p class="ff-os fs-14 c-gr-brown">Все поля обязательны для заполнения.</p>
			</div>
		</div>
		<div class="content-main">
			<div class="container">
				<form method="post">
					<div class="mb-5">
						<label class="label">Счет</label>
						<select class="select" title="Счет">
							<option class="select__option">Safe</option>
							<option class="select__option">Danger</option>
						</select>
					</div>
					<div class="mb-25">
						<a class="link fs-13" href="#">Подробнее о счете</a>
					</div>
					<div class="mb-20">
						<label class="label">Фамилия</label>
						<input type="text" class="entry-field" title="Фамилия" placeholder="Фамилия">
					</div>
					<div class="mb-20">
						<label class="label">Имя</label>
						<input type="text" class="entry-field" title="Имя" placeholder="Имя">
					</div>
					<div class="mb-20">
						<label class="label">E-mail</label>
						<input type="text" class="entry-field" title="E-mail" placeholder="E-mail">
					</div>
					<div class="mb-20">
						<label class="label">Дата рождения</label>
						<input type="date" class="entry-field mb-5" title="Дата рождения" placeholder="__.__.____">
						<span class="ff-os fs-13 c-warm-gray">Формат ввода: dd.mm.yyyy</span>
					</div>
					<div class="mb-20">
						<label class="label">Страна</label>
						<select class="select" title="Счет">
							<option class="select__option">Russia</option>
							<option class="select__option">Germany</option>
						</select>
					</div>
					<div class="mb-20">
						<label class="label">Страна</label>
						<select class="select" title="Счет">
							<option class="select__option">Moscow</option>
							<option class="select__option">St. Petersburg</option>
						</select>
					</div>
					<div class="mb-20">
						<label class="label">Мобильный телефон</label>
						<input type="tel" class="entry-field inputmask-phone" title="Мобильный телефон"
						       placeholder="+7 (___) ___-___-__">
					</div>
					<div class="mb-20" data-switcher="{target: 'registration'}">
						<div class="mb-10">
							<label class="radio-box">
								<input type="radio" class="radio-box__switch" name="radio-option" checked>
								<i class="radio-box__switch-imitator"></i>
								Internet
							</label>
						</div>
						<div>
							<label class="radio-box">
								<input type="radio" class="radio-box__switch" name="radio-option">
								<i class="radio-box__switch-imitator"></i>
								Company Representative
							</label>
						</div>
					</div>
					<div data-switcher-target="registration">
						<div class="registration-tab"></div>
						<div class="registration-tab">
							<div class="mb-20">
								<label class="label">Fr. number</label>
								<input type="text" class="entry-field" title="Fr. number" placeholder="|">
							</div>
							<div class="mb-20">
								<label class="label">Adviser</label>
								<input type="text" class="entry-field" title="Adviser" placeholder="|">
							</div>
							<div class="mb-20">
								<label class="label">Manager</label>
								<input type="text" class="entry-field" title="Manager" placeholder="|">
							</div>
						</div>
					</div>
					<div class="mb-20">
						<label class="label">Пароль</label>
						<input type="password" class="entry-field mb-5" title="Пароль"
						       placeholder="Придумайте пароль">
						<span class="ff-os fs-13 lh-1-31em c-warm-gray">Латинские буквы и цифры, длина пароля должна быть от 6 до 15 символов. Пароль используется для входа в кабинет трейдера и метатрейдер.</span>
					</div>
					<div class="mb-20">
						<label class="label">Подтверждение пароля</label>
						<input type="password" class="entry-field" title="Пароль"
						       placeholder="Подтвердите пароль">
					</div>
					<div>
						<button type="button" class="btn btn_blue btn-registry">Зарегистрироваться</button>
					</div>
				</form>
			</div>
		</div>
	</section>
{% endblock %}