{% extends "layouts/app.twig" %}

{% block pageTitle %}Лучшие трейдеры{% endblock %}

{% block content %}
    <section class="content-wrap">
        <div class="container">
            <div class="mb-15">
                <h2 class="h2">Лучшие трейдеры</h2>
            </div>
            <div class="traiders traiders_page">
                <ul class="content-section__list">
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">1</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">2</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">3</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">1</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">5</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">6</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">7</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">8</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">9</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                    <li class="content-section__item">
                        <div class="content-section__left-col">
                            <span class="badge badge_beige">10</span>
                        </div>
                        <div class="content-section__right-col">
                            <div class="traiders__left-cell traiders__left-cell_half">
                                <span class="traiders__text traiders__text_big">Aidan</span>
                            </div>
                            <div class="traiders__right-cell traiders__right-cell_half">
                                <span class="traiders__text traiders__text_big">$134,806</span>
                            </div>
                            <div class="traiders__left-cell">
                                <div class="traiders__text traiders__text_small traiders__text_dark-gray"><i class="icon mark icon_mr-5"></i>Australia</div>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="badge badge_blue tt-u">60 seconds</span>
                            </div>
                            <div class="traiders__left-cell">
                                <span class="traiders__text traiders__text_small traiders__text_light-gray">Обновлено</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray">07.10.2016</span>
                            </div>
                            <div class="traiders__right-cell">
                                <span class="traiders__text traiders__text_small">Актив</span>
                                <span class="traiders__text traiders__text_small traiders__text_dark-gray traiders__text_light-gray">Gold</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mb-20">
                <button type="button" class="btn btn_blue">Показать ещё</button>
            </div>
        </div>
    </section>
{% endblock %}