<footer class="footer">
    <div class="footer__item">
        <a class="btn btn_black-orange">Полная версия</a>
    </div>
    <div class="footer__item soc">
        <div class="container">
            <ul class="soc__list">
                <li class="soc__item">
                    <a class="soc__link" href="#"><i class="fa fa-youtube-play"></i></a>
                </li>
                <li class="soc__item">
                    <a class="soc__link" href="#"><i class="fa fa-vk"></i></a>
                </li>
                <li class="soc__item">
                    <a class="soc__link" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="soc__item">
                    <a class="soc__link" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="soc__item">
                    <a class="soc__link" href="#"><i class="fa fa-rss"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__item copyright">
        <div class="container">
            <p class="copyright__text">
                Для корреспонденции:<br>
                ООО ККМ, 129515, Москва,<br>
                ул. Академика Королева, д.13, стр.1
            </p>
        </div>
    </div>
</footer>