<header class="header">
    <div class="container">
        <ul class="header__list">
            <li class="header__item burger">
                {% if check_back_btn == "true" %}
                    <a class="arrow-back" href="#">
                        <i class="arrow-back__line"></i>
                        <i class="arrow-back__line"></i>
                    </a>
                {% else %}
                    <button type="button" class="burger__btn">
                        <i class="burger__line"></i>
                        <i class="burger__line"></i>
                        <i class="burger__line"></i>
                        <i class="burger__line"></i>
                    </button>
                {% endif %}
            </li>
            <li class="header__item logo">
                <a class="logo__link" href="#">
                    <i class="icon logo"></i>
                </a>
            </li>
            <li class="header__item">
                <a class="btn btn_white-blue btn_small" href="#">Открыть счёт</a>
            </li>
            <li class="header__item lang">
                <a class="lang__toggle" href="#">
                    <i class="icon flag-ru"></i>
                    <span class="lang__text">Ru</span>
                </a>
                <div class="lang__dropdown lang-dropdown">
                    <ul class="lang-dropdown__list">
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-ar"></i>
                                <span class="lang-dropdown__text">Arabic</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-ma"></i>
                                <span class="lang-dropdown__text">Malaysia</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-ch"></i>
                                <span class="lang-dropdown__text">中文</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-po"></i>
                                <span class="lang-dropdown__text">Polski</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-gb"></i>
                                <span class="lang-dropdown__text">English (UK)</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-pg"></i>
                                <span class="lang-dropdown__text">Português</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-fr"></i>
                                <span class="lang-dropdown__text">Français</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-sp"></i>
                                <span class="lang-dropdown__text">Español</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-hv"></i>
                                <span class="lang-dropdown__text">Hrvatska</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-tl"></i>
                                <span class="lang-dropdown__text">ประเทศไทย</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-in"></i>
                                <span class="lang-dropdown__text">Indonesia</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-vn"></i>
                                <span class="lang-dropdown__text">Việt ngữ</span>
                            </a>
                        </li>
                        <li class="lang-dropdown__item">
                            <a class="lang-dropdown__link" href="#">
                                <i class="icon flag-sb"></i>
                                <span class="lang-dropdown__text">Srpski</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header__item shape">
                <a class="shape__toggle" href="#">
                    <i class="icon shape"></i>
                </a>
            </li>
        </ul>
    </div>
</header>