<header class="header">
    <div class="container">
        <ul class="header__list">
        <li class="header__item burger">
            <button type="button" class="burger__bth">
                <i class="burger__line"></i>
                <i class="burger__line"></i>
                <i class="burger__line"></i>
            </button>
        </li>
        <li class="header__item shield">
            <a class="shield__link" href="#">
                <i class="icon shield"></i>
                <i class="shield__line shield__line_horiz"></i>
                <i class="shield__line  shield__line_vert"></i>
            </a>
        </li>
        <li class="header__item">
            <a class="btn btn_white-blue btn_small" href="#">Открыть счёт</a>
        </li>
        <li class="header__item lang">
            <a class="lang__toggle">
                <i class="icon flag-ru"></i>
                <span class="lang__text">Ru</span>
            </a>
        </li>
        <li class="header__item shape">
            <a class="shape__toggle" href="#">
                <i class="icon shape"></i>
            </a>
        </li>
    </ul>
    </div>
</header>