<div class="popup" data-popup="send-letter">
    <div class="container">
        <div class="ta-r mb-20">
            <div class="js-close-modal popup__btn-close">
                <i class="popup__btn-line"></i>
                <i class="popup__btn-line"></i>
            </div>
        </div>
        <p class="ff-os fs-14 lh-1-57em c-white">На Ваш электронный адрес отправлено письмо с кодом восстановления доступа к вашему кабинету.</p>
    </div>
</div>

<div class="popup" data-popup="safe">
    <div class="container">
        <div class="ta-r mb-20">
            <div class="js-close-modal popup__btn-close">
                <i class="popup__btn-line"></i>
                <i class="popup__btn-line"></i>
            </div>
        </div>
        <div class="mb-20">
            <h3 class="h3">Safe</h3>
        </div>
        <p class="ff-os fs-14 lh-1-57em c-white mb-15">Оптимально для позиционной торговли.</p>
        <p class="ff-os fs-14 lh-1-57em c-white mb-15">Отсутствует плата за перенос сделки на следующий день. Снижение комиссионых до 1$ за 100k. До 10% годовых на свободные стредства и прочие опции.</p>
        <p class="ff-os fs-14 lh-1-57em c-white">Минимальный размер депозита 10'000 USD.</p>
    </div>
</div>

<div class="popup" data-popup="success">
    <div class="container">
        <div class="ta-r mb-20">
            <div class="js-close-modal popup__btn-close">
                <i class="popup__btn-line"></i>
                <i class="popup__btn-line"></i>
            </div>
        </div>
        <div class="mb-20">
            <h3 class="h3">Registration successful</h3>
        </div>
        <p class="ff-os fs-14 lh-1-57em c-white">Уважаемый Ivan Ivanov, Вы были успешно зарегистрированы на нашем сайте. На указанный Вами e-mail было отправлено письмо со ссылкой подтверждения регистрации.</p>
    </div>
</div>